<footer class="footer-container">
    <div class="sub-footer-section" >
        <div class="footer-section">
        <img src="assets\images\logo-laranja.svg" alt="Logo Laranja" width="170" height="34" class="footer-img">
        </div>
        <div class="footer-section">
        <p class="footer-text">NILROW LTDA</p>
        <p class="footer-text">CNPJ: 30.066.869/0001-08</p>
        </div>
        <div class="footer-section">
        <p class="address-footer-text">Av. Nossa Senhora da Penha, 2796, Edif. Impacto Empresarial - Vitória CEP: 29.045-402 | help@nilrow.com.br</p>
        </div>
        <div class="footer-section-links">
            <a href="#" class="footer-link">Termo de Uso</a>
            <a href="#" class="footer-link">Política de Privacidade</a>
            <a href="#" class="footer-link">Política de Troca e Devolução</a>
            <a href="#" class="footer-link">Diretrizes da Comunidade</a>
        </div>
    </div>
  </footer>