  
  <header class="main-header">
      <div class="sub-header">
        <div class="header">
          <div class="logo-container">
            <img src="assets/images/logo.svg" alt="Logo" width="169" height="34">
          </div>
              <div class="menu-container">
                  <a href="https://nilrow.com" target="_blank">NILROW</a>
              </div>
        </div>
    
        <div class="subheader-content">
              <h1 class="subheader-title">👋 Help Center</h1>
              <p class="subheader-subtitle">Pesquise nossa base de conhecimento ou navegue pelos tópicos abaixo.</p>
              <app-search-input></app-search-input>
        </div>
      </div>
  </header>

  <div class="container">
    <div class="list-container">
      <div class="topic-list">
        <app-topic-list></app-topic-list>
      </div>
      <div class="article-useful">
        <app-article-useful></app-article-useful>
        <h1 class="highlights-title">Procurando outra coisa?</h1>
        
        <div class="subcontainer">
          <a href="https://nilrow.com" target="_blank" class="more-container">
            <img src="assets\images\Nilrow Creators.svg" alt="Logo Nilrow Creators" width="70" height="70">
            <div class="sub-container">
              <h1 class="h1-container">Nilrow Creators</h1>
              <p class="p-container" >Saiba mais como promover produtos na Nilrow e começar a faturar</p>
            </div>
          </a>
          <a href="https://nilrow.com" target="_blank" class="boss-container" >
            <img src="assets\images\Nilrow para Empresas.svg" alt="Logo Nilrow Creators" width="70" height="70">
            <div class="sub-container">
              <h1 class="h1-container">Nilrow para Empresas</h1>
              <p class="p-container">Saiba mais como promover sua empresa na Nilrow e em cantar seus clientes</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>